.main-layout {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    margin: 20px;
    position: relative;
}

.fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    .content {
        margin: 0;
    }
    
    .fa-solid {
        display: block;
        font-size: 25px;    
    }
    
    .fa-bars {
        position: fixed;
        top: 25px;
        right: 25px;
        cursor: pointer;
        z-index: 2;
    }
    
    .nav-menu {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        opacity: 0;
        z-index: 3;
        transition: right 0.5s ease, opacity 0.5s ease;
    }
    
    .nav-menu.open {
        right: 0;
        opacity: 1;
    }
    
    .fa-xmark {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}