@using SujalUpretyPortfolio.Pages
@inherits LayoutComponentBase

<PageTitle>Sujal Uprety</PageTitle>

<div id="header">

    <div class="main-layout">
        <div class="nav-menu @(isOpenMenu ? "open" : "")">
            <NavMenu />
            <i class="fa-solid fa-xmark" onclick="@ToggleMenu"></i>
        </div>
        <i class="fa-solid fa-bars" onclick="@ToggleMenu"></i>
        
        <div class="content">
            <Home/>
        </div>
    </div>
    
        
</div>
    
<div class="content">
    @Body
</div>
<footer>
    <p>&copy; 2024 Sujal Uprety</p>
</footer>

@code {

    private bool isOpenMenu;
    
    private void ToggleMenu() {
        isOpenMenu = !isOpenMenu;
    }

}
