.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.tabs{
    border-radius: 6px;
    border: #ff004f 2px solid;
    padding: 0 20px;
}

.tab-titles {
    display: flex;
    margin: 10px 0;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: " ";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul {
    padding: 0;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #5CC5C5;
    font-size: 14px;
    font-weight: 600;
}

.tab-contents {
    display: block;
}

.tab-contents li {
    background-color: #1E1E1E;
    border: #ff004f 2px solid;
    padding: 5px;
    border-radius: 6px;
    color: #EAEAEA;
    font-size: 16px;
    font-weight: 700;
    transition: transform 0.3s, background-color 0.3s;
}

.tab-contents li:hover {
    background-color: #ff004f;
    color: white;
    transform: scale(1.05);
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.icons img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: #ff004f 2px solid;
    background-color: white;
    padding: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.icons img:hover {
    transform: scale(1.1);
    background-color: #ff004f;
}

@media only screen and (max-width: 600px) {
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    
    .about-col-1 {
        margin-bottom: 30px;
    }
    
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    
    .icons img {
        height: 70px;
        width: 70px;
    }
}