<div id="contact" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="contact">
                <h1 class="sub-title">Contact Me</h1>
                <p><a href="mailto:contact@sujaluprety.com.np" class="email"><i class="fa-solid fa-paper-plane"></i> contact@sujaluprety.com.np</a></p>
                <p><i class="fa-solid fa-square-phone"></i> +977-9869776530</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/SujalUpretyy" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://x.com/Sujal_wasDead" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/sujal_wasdead/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/sujaluprety/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <a href="../Assets/SujalUpretyCV.pdf" target="_blank" class="btn btn2">Download CV</a>
            </div>
        </div>
    </div>
</div>