@inherits LayoutComponentBase

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Projects</h1>
        <div class="work-list">
            <div class="work">
                <img src="../Assets/games.png" alt="Games" />
                <div class="layer">
                    <h3>Games Using Unity</h3>
                    <p>
                        I have developed several 2D and 3D games using Unity, including FPS shooters, endless runners, and platformers. I've also participated in game jams and worked on an AR project. Additionally, I have experience with the Steamworks multiplayer tool. Click the link below to see my games. 
                    </p>
                    <a href="https://sujalwasdead.itch.io" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="../Assets/ehhmage.png" alt="Ehhlang" />
                <div class="layer">
                    <h3>Ehhlang</h3>
                    <p>
                        EhhLang is a domain-specific language I developed using C# and OpenCV. It simplifies image creation through code and serves as a basic version of OpenCV, though it doesn't yet encompass all its features. Click the link below to see the project.
                    </p>
                    <a href="https://github.com/SujalUprety/EhhLang" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="../Assets/textehhditor.png" alt="Text Ehhditor" />
                <div class="layer">
                    <h3>Text Ehhditor</h3>
                    <p>
                        Text Ehhditor is a text editor I developed using Java and Java Swing, featuring basic functions like creating, opening, saving, and saving files. It includes around 70 themes implemented with the FlatLaf library. Click the link below to see the project.
                    </p>
                    <a href="https://github.com/SujalUprety/Text-Ehhditor" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <a href="https://github.com/SujalUprety?tab=repositories" target="_blank" class="btn">See more</a>
    </div>
</div>